// 共通
@mixin content-box {
  grid-column: 1 / 2;
  width: 1000px;
  margin: 0 auto;
}
@mixin color-label {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
@mixin large-button {
  width: 1000px;
  height: 50px;
  font-size: 14px;
}

body {
  color: #333;
}

button {
  @include large-button;
  border: 1px solid #888;
  background-color: #eee;
  &:hover {
    background-color: rgb(135, 235, 180);
    border: 1px solid rgb(135, 235, 180);
    color: #fff;
  }
}
h1 {
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.stripe{
  position: relative;
  padding: 0.3em;
}
.stripe:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px);
}

// Top
.header {
  @include content-box;
  height: 50px;
  display: grid;
  grid-template-columns: 130px 1fr 90px;
  .logo {
    grid-column: 1 / 2;
    a:hover {
      opacity: 0.7;
    }
  }
  .nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    .icon {
      width: 45px;
      margin: -10px 0 0 0;
      align-self: center;
      a {
        color: #aaa;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
.index-container {
  display: grid;
  grid-template-rows: 600px 900px 500px 500px;
}

.top {
  @include content-box;
  figure {
    width: 750px;
    margin: 0 auto;
  }
  .slide-pager{
    margin: 0 auto;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
      align-self: center;
      color: #888;
    }
  }
}
.list {
  @include content-box;
}
.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    max-width: 300px;
    height: 380px;
    .item-card {
      margin: -3px 0 0 0;
      height: 120px;
      box-shadow: 0 2px 2px 2px #eee;
      padding: 10px;
      .label {
        margin: 0 0 10px 0;
      }
      h4 {
        margin: 0;
      }
      .expired {
        background-color: #eee;
        width: 280px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        margin-top: 40px;
      }
    }
  }
  &::after {
    content:"";
    display: block;
    width:30%;
  }
}
.news {
  background-color: #eee;
  .news-title {
    padding: 30px 0;
  }
}
.news-item {
  width: 1000px;
  display: grid;
  grid-template-columns: 105px 110px 1fr;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #aaa;
  p {
    font-size: 14px;
    a:hover {
      opacity: 0.7;
    }
  }
  .news-date {
    padding: 3px 0 0 10px;
  }
  .news-text {
    font-size: 15px;
  }
}
.news-date {
  font-weight: bold;
}
.info {
  @include content-box;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column: 1 / 2;
  .info-guide{
    padding: 0 30px 0 0;
    .info-title {
      font-size: 26px;
      text-align: left;
    }
    li {
      padding: 10px 0;
      border-bottom: 1px dotted #888;
       font-weight: bold;
    }
    .info-text {
      font-size: 14px;
      font-weight: normal;
     }
    a:hover {
      opacity: 0.7;
    }
  }
}

.common-footer {
  height: 100px;
  grid-column: 1 / 2;
  background-color: lightgray;
  .footer-nav {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0;
    }
    li+ li {
      border-left: 1px solid #aaa;
    }
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0 0 20px 0;
  }
}


.label-new {
  @include color-label;
  background-color: orange;
}
.label-soldout {
  @include color-label;
  background-color: #555;
}

// Mypage


// ナビメニュー
.common-list {
  &::after {
    content:"";
    display: block;
    max-width: 1000px;
    height: 150px;
  }
}

.common-title {
  padding: 50px 0;
  background-color: #eee;
  .common-h1 {
    text-align: center;
    font-size: 24px;
  }
}

.common-list-item {
  // @mixin content-box;
  max-width: 1000px;
  margin: 50px auto 0 auto;
  .common-h2 {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  .text {
    font-size: 14px;
  }
}