/* 全共通 */
$red: red;
$orange: orange;
$green: #90EE90;
$blue: skyblue;
$white: #fff;
$lightgray: #efefef;
$gray: #aaa;
$darkgray: #555;
$black: #333;
$linkColor: $orange;

body {
  color: $black;
}

h1 {
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

th, td {
  padding: 10px;
}

.container {
  display: grid;
}

@mixin content-box($height: auto) {
  width: 1000px;
  height: $height;
  margin: 0 auto;
}
@mixin label-base {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  font-size: 0.9rem;
}
@mixin label-color($color) {
  color: $white;
  background-color: $color;
}
@mixin mini-button-base {
  border: 1px solid $gray;
  border-radius: 5px;
}
@mixin button-base {
  height: 28px;
  font-weight: bold;
  border: 1px solid $gray;
  border-radius: 7px;
  &:hover {
    opacity: 0.8;
  }
}
@mixin large-button-base {
  width: 1000px;
  height: 50px;
  font-size: 1rem;
}
@mixin button-color($bgColor, $borderColor, $fontColor) {
  background-color: $bgColor;
  border-color: $borderColor;
  color: $fontColor;
}

@mixin button-centering {
  display: block;
  margin: 0 auto;
}

@mixin table-base {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 1000px;
  margin: 0 auto;
  font-size: 0.75rem;
}

@mixin table-color($thColor: $lightgray, $borderColor: #ccc) {
  border-color: $borderColor;
  th {
    background-color: $thColor;
  }
}

@mixin table-form-padding {
  padding: 5px 0;
}

.stripe {
  position: relative;
  padding: 0.3em;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, $blue, $blue 2px, white 2px, white 4px);
  }
}

.text-link {
  color: $linkColor;
}

/* Common共通 */
.common-header {
  @include content-box(50px);
  display: grid;
  grid-template-columns: 130px 1fr 90px;
  .logo {
    grid-column: 1 / 2;
    z-index: 3;
    a:hover {
      opacity: 0.7;
    }
  }
  .nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    .icon {
      width: 45px;
      margin: -10px 0 0 0;
      align-self: center;
      z-index: 3;
      a {
        color: $gray;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

.common-footer {
  height: 100px;
  grid-column: 1 / 2;
  background-color: $lightgray;
  .footer-nav {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0;
    }
    li+ li {
      border-left: 1px solid $gray;
    }
  }
  .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0 0 20px 0;
  }
}

.common-pagetop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0  20px 20px 0;
  .icon-orange {
    color: $linkColor;
  }
}

.common-list {
  @include content-box;
  &::after {
    content:"";
    display: block;
    max-width: 1000px;
    height: 150px;
  }
}
.common-h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
  background-color: $lightgray;
  display: block;
  }
.bg-white {
  background-color: $white;
}

.common-list-item {
  // @mixin content-box;
  max-width: 1000px;
  margin: 50px auto 0 auto;
  .common-h2 {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  .text {
    font-size: 14px;
  }
}

.common-text-link {
  @extend .text-link;
  text-decoration:  underline;
}

/* Top */
.top {
  @include content-box(550px);
  width: 100%;
  figure {
    width: 750px;
    margin: 0 auto;
  }
  .slide-pager{
    margin: 0 auto;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
      align-self: center;
      // color: $gray;
    }
  }
}
.product {
  @include content-box(auto);
}
.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 50px;
  li {
    max-width: 300px;
    height: 380px;
    .product-card {
      margin: -3px 0 0 0;
      height: 120px;
      box-shadow: 0 2px 2px 2px #eee;
      padding: 10px;
      .product-label {
        margin: 0 0 10px 0;
      }
      h4 {
        margin: 0;
      }
      .product-expired {
        background-color: $lightgray;
        width: 280px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        margin-top: 40px;
      }
    }
  }
  &::after {
    content:"";
    display: block;
    width:30%;
  }
}
.product-list-button {
  @include large-button-base;
  @include button-color($lightgray, $gray, $black);
  margin: -30px 0 80px;
  &:hover {
    @include button-color($green, $green, $white)
  }
}
.news {
  background-color: $lightgray;
  height: 500px;
  .news-title {
    padding: 30px 0;
  }
  .news-item {
    width: 1000px;
    display: grid;
    grid-template-columns: 105px 110px 1fr;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid $gray;
    p {
      font-size: 14px;
      a:hover {
        opacity: 0.7;
      }
    }
    .news-date {
      padding: 3px 0 0 10px;
      font-weight: bold;
    }
    .news-text {
      font-size: 15px;
    }
  }
}
.info {
  @include content-box(500px);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column: 1 / 2;
  .info-guide{
    padding: 0 30px 0 0;
    .info-title {
      font-size: 26px;
      text-align: left;
    }
    li {
      padding: 10px 0;
      border-bottom: 1px dotted $gray;
      font-weight: bold;
      h3 {
        margin: 0;
      }
      i {
        color: $linkColor;
      }
    }
    .info-text {
      font-size: 14px;
      font-weight: normal;
     }
    a:hover {
      opacity: 0.7;
    }
  }
}

.label-new {
  @include label-base;
  @include label-color($orange);
}
.label-soldout, .label-info {
  @include label-base;
  @include label-color($darkgray);
}

/* Mypage */
.mypage-text {
  font-size: 0.75rem;
}
.mypage-text-bold {
  font-size: 0.8rem;
  font-weight: bold;
}
.mypage-text-link {
  @extend .text-link;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
.normal-button {
  @include button-base;
  @include button-color($lightgray, $gray, $black);
  &:hover {
    opacity: 0.8;
    border-color: $gray;
    color: $black;
  }
}
.back-button {
  @include button-base;
  @include button-color($darkgray, $darkgray, $white);
  padding: 0 30px;
  &:hover {
    opacity: 0.8;
    border-color: $darkgray;
    color: $white;
  }
}
.submit-button {
  @include button-base;
  @include button-color($orange, $orange, $white);
  @include button-centering;
  &:hover {
    opacity: 0.8;
    border-color: $orange;
    color: $white;
  }
}
.mini-button {
  @include mini-button-base;
  @include button-centering;
  &:hover {
    opacity: 0.8;
    border-color: $gray;
    color: $black;
  }
}

.mypage-header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $white;
  border-bottom: 3px solid $orange;
  z-index: 1;
  .mypage-header-inner {
    @include content-box(70px);
    display: flex;
    justify-content: space-between;
    .logo {
      justify-content: flex-end;
      align-items: flex-start;
      a:hover {
        opacity: 0.7;
      }
    }
    .nav {
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .login-area {
        background-color: $lightgray;
        border: 1px solid #ccc;
        margin: 4px 0;
        text-align: center;
        padding: 4px 0;
      }
      .button-area {
        height: 34px;
        display: flex;
        .mypage-button{
          @include button-base;
          @include button-color($lightgray, $lightgray, $orange);
        }
        .orange-button {
          @include button-base;
          @include button-color($orange, $orange, $white);
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
.mypage-table {
  @include table-base;
  @include table-color();
  td{
    &:first-child {
      width: 180px;
      background-color: $lightgray;
    }
  }
  span {
    @extend .mypage-text;
  }
}

.form-input {
  .normal-button, .submit-button {
    margin-top: 10px;
  }
  .submit-button {
    margin-top: 30px;
  }
}

.mypage-h2 {
  padding: 5px 10px;
  border-left: 5px solid $orange;
  border-bottom: 1px solid $lightgray;
  text-align: left;
  font-size: 1.25rem;
}
.mypage-h3 {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 10px 0 0 0;
  color: $orange;
}
.mypage-list {
  @include content-box;
  margin-top: 80px;
}
.mypage-list-item {
  h2 {
    margin: 10px 0 20px 0;
  }
}
.mypage-pagetop {
  @include content-box;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .icon-orange {
    color: $orange;
  }
}
.mypage-footer {
  @include content-box;
  height: 100px;
  grid-column: 1 / 2;
  border-top: 1px solid #ccc;
  .footer-nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0;
    }
    li+ li {
      border-left: 1px dotted $gray;
    }
  }
  .copyright {
    text-align: center;
    font-size: 0.75rem;
    margin: 0 0 20px 0;
  }
}

/* Mypage table共通 */
.required {
  color: $red;
  font-size: 12px;
}
.input-short {
  @include table-form-padding;
  width: 60px;
}
.input-middle {
  @include table-form-padding;
  width: 120px;
}
.input-long {
  @include table-form-padding;
  width: 350px;
}
.select {
  @include table-form-padding;
  width: 200px;
}
.select-number {
  width: 80px;
}
.attention {
  color: $red;
  font-size: 0.7rem;
  margin: 0;
}

/* Entry */
.entry-confirm {
  .button-wrapper {
    margin: 30px auto 0 auto;
    width: 200px;
    .back-button, .submit-button {
      display: inline;
    }
  }
}

/* Contact */
.contact-confirm {
  .button-wrapper {
    margin: 30px auto 0 auto;
    width: 222px;
    .back-button, .submit-button {
      display: inline;
      padding: 0 40px;
    }
  }
}

/* Faq */
@mixin faq-bgimg($url) {
  background-image: $url;
  background-repeat: no-repeat;
  height: 40px;
  padding: 10px 0 0 50px;
}

.faq-item {
  h3{
    @include faq-bgimg(url("https://placehold.jp/40x40.png?text=Q"));
    color: $gray;
  }
  p {
    @include faq-bgimg(url("https://placehold.jp/40x40.png?text=A"));
    font-size: 0.8rem;
  }
}

/* Login */
.login-form {
  background-color: $lightgray;
  padding: 10px 20px;
  .login-panel-text {
    @extend .mypage-text;
    display: inline-block;
    width: 150px;
  }
  .login-button {
    @include button-base;
    @include button-color($orange, $orange, $white);
    @include button-centering;
    padding: 0 30px;
    margin: 30px auto;
  }
}
.guidance-wrapper {
  .button-panel {
    background-color: $lightgray;
    padding: 10px;
    .entry-button {
      @include button-base;
      @include button-color($orange, $orange, $white);
      @include button-centering;
    }
  }
}

/* Cart */
.cart-table {
  @include table-base;
  @include table-color();
  th {
    text-align: center;
  }
  .cart-product-total {
    text-align: right;
    td:first-child {
      background-color: $lightgray;
    }
  }
  .cart-product-manipulation {
    text-align: center;
    .delete-button {
      @include button-base;
      @include button-color($darkgray, $darkgray, $white);
    }
    .later-button {
      @include button-base;
      @include button-color($lightgray, $gray, $black);
      margin: 10px 0 0 0;
    }
  }
  .cart-product-img {
    text-align: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .cart-product-name {
    font-weight: bold;
  }
  .cart-product-price, .cart-product-subtotal {
    text-align: right;
  }
}
.cart-table-bottom-text{
  @extend .mypage-text;
  text-align: right;
  margin: 0;
}
.cart-button-area {
  margin: 0 0 30px 0;
  .cart-text {
    @extend .mypage-text;
    text-align: center;
  }
  .button-wrapper {
    width: 365px;
    @include button-centering;
    .back-button {
      margin: 0;
    }
    .orange-button {
      @include button-base;
      @include button-color($orange, $orange, $white);
      margin: 0 0 0 10px;
    }
  }
}
.cart-attention {
  @extend .attention;
}

/* Carousel(あとで個別ファイルにする) */
.el-carousel {
  margin: -20px;
}

/* Mypage Content(あとで移動) */
/*タブ切り替え全体のスタイル*/
.tabs {
  @include content-box(auto);
  padding-bottom: 40px;
  background-color: $white;
}
  /*タブのスタイル*/
.tab-item {
  width: calc(100%/5);
  height: 40px;
  border-bottom: 1px solid $gray;
  line-height: 50px;
  font-size: 1rem;
  text-align: center;
  color: $black;
  display: block;
  float: left;
  transition: all 0.2s ease;
}
.tab-item:hover {
  opacity: 0.7;
}
  /*ラジオボタンを全て消す*/
input[name="tab-item"] {
  display: none;
}
  /*タブ切り替えの中身のスタイル*/
.tab-content {
  display: none;
  clear: both;
  overflow: hidden;
}
  /*選択されているタブのコンテンツのみを表示*/
#history:checked ~ .history-content,
#change:checked ~ .change-content,
#delivery:checked ~ .delivery-content,
#refusal:checked ~ .refusal-content,
#change-card:checked ~ .change-card-content {
  display: block;
}
  /*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid $orange;
  border-bottom: 1px solid $white;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}

.delivery-table {
  @include table-base;
  @include table-color();
  th {
    text-align: left;
    font-weight: normal;
  }
  td:nth-child(1), td:nth-child(4), td:nth-child(5) {
    text-align: center;
  }
}

.refusal-panel{
  border: 1px solid $gray;
  padding: 30px;
  text-align: center;
}
// .cart-table {
//   @include table-base;
//   th {
//     background-color: $lightgray;
//     text-align: center;
//   }
//   .cart-product-total {
//     text-align: right;
//     td:first-child {
//       background-color: $lightgray;
//     }
//   }
//   .cart-product-manipulation {
//     text-align: center;
//     .delete-button {
//       @include button-base;
//       @include button-color($darkgray, $darkgray, $white);
//     }
//     .later-button {
//       @include button-base;
//       @include button-color($lightgray, $gray, $black);
//       margin: 10px 0 0 0;
//     }
//   }

.error {
  .error-message-panel {
    width: 800px;
    height: 300px;
    margin: 30px auto 0 auto;
    border: 1px solid $gray;
    text-align: center;
    .mypage-text {
      position: relative;
      top: 50%;
      margin-top: -0.5em;
    }
  }
  .back-button {
    @include button-centering;
    margin-top: 30px;
  }
}

/* Collapse */
.el-collapse, .el-collapse-item__header, .el-collapse-item__wrap {
  border-style: none;
}
.el-collapse-item__wrap {
  background: none;
}

/* Address */
.address {
  .add-address-button {
    @extend .normal-button;
    margin: 20px 0;
  }
  .address-table {
    @include table-base;
    @include table-color();
    th {
      text-align: center;
      font-weight: normal;
    }
    td {
      text-align: center;
      &:nth-child(1), &:nth-child(4), &:nth-child(5) {
        width: 100px;
      }
      &:nth-child(2) {
        width: 200px;
      }
      &:nth-child(3) {
        text-align: left;
        width: 500px;
      }
    }
  }
  .button-wrapper {
    width: 268px;
    margin: 20px auto 0;
    .back-button, .submit-button {
      display: inline;
    }
    .back-button {
      padding: 0 40px;
    }
  }
}
