@charset "UTF-8";
/* 全共通 */
body {
  color: #333; }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  text-align: center;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

figure {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

th, td {
  padding: 10px; }

.container {
  display: grid; }

.stripe {
  position: relative;
  padding: 0.3em; }
  .stripe::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 7px;
    background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px); }

.text-link, .common-text-link, .mypage-text-link {
  color: orange; }

/* Common共通 */
.common-header {
  width: 1000px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 130px 1fr 90px; }
  .common-header .logo {
    grid-column: 1 / 2;
    z-index: 3; }
    .common-header .logo a:hover {
      opacity: 0.7; }
  .common-header .nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end; }
    .common-header .nav .icon {
      width: 45px;
      margin: -10px 0 0 0;
      align-self: center;
      z-index: 3; }
      .common-header .nav .icon a {
        color: #aaa; }
        .common-header .nav .icon a:hover {
          opacity: 0.7; }

.common-footer {
  height: 100px;
  grid-column: 1 / 2;
  background-color: #efefef; }
  .common-footer .footer-nav {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto; }
    .common-footer .footer-nav .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0; }
    .common-footer .footer-nav li + li {
      border-left: 1px solid #aaa; }
  .common-footer .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0 0 20px 0; }

.common-pagetop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0  20px 20px 0; }
  .common-pagetop .icon-orange {
    color: orange; }

.common-list {
  width: 1000px;
  height: auto;
  margin: 0 auto; }
  .common-list::after {
    content: "";
    display: block;
    max-width: 1000px;
    height: 150px; }

.common-h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
  background-color: #efefef;
  display: block; }

.bg-white {
  background-color: #fff; }

.common-list-item {
  max-width: 1000px;
  margin: 50px auto 0 auto; }
  .common-list-item .common-h2 {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    text-align: left; }
  .common-list-item .text {
    font-size: 14px; }

.common-text-link {
  text-decoration: underline; }

/* Top */
.top {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  width: 100%; }
  .top figure {
    width: 750px;
    margin: 0 auto; }
  .top .slide-pager {
    margin: 0 auto;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .top .slide-pager a {
      align-self: center; }

.product {
  width: 1000px;
  height: auto;
  margin: 0 auto; }

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 50px; }
  .product-items li {
    max-width: 300px;
    height: 380px; }
    .product-items li .product-card {
      margin: -3px 0 0 0;
      height: 120px;
      box-shadow: 0 2px 2px 2px #eee;
      padding: 10px; }
      .product-items li .product-card .product-label {
        margin: 0 0 10px 0; }
      .product-items li .product-card h4 {
        margin: 0; }
      .product-items li .product-card .product-expired {
        background-color: #efefef;
        width: 280px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        margin-top: 40px; }
  .product-items::after {
    content: "";
    display: block;
    width: 30%; }

.product-list-button {
  width: 1000px;
  height: 50px;
  font-size: 1rem;
  background-color: #efefef;
  border-color: #aaa;
  color: #333;
  margin: -30px 0 80px; }
  .product-list-button:hover {
    background-color: #90EE90;
    border-color: #90EE90;
    color: #fff; }

.news {
  background-color: #efefef;
  height: 500px; }
  .news .news-title {
    padding: 30px 0; }
  .news .news-item {
    width: 1000px;
    display: grid;
    grid-template-columns: 105px 110px 1fr;
    padding: 10px 0;
    margin: 0 auto;
    border-bottom: 1px solid #aaa; }
    .news .news-item p {
      font-size: 14px; }
      .news .news-item p a:hover {
        opacity: 0.7; }
    .news .news-item .news-date {
      padding: 3px 0 0 10px;
      font-weight: bold; }
    .news .news-item .news-text {
      font-size: 15px; }

.info {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column: 1 / 2; }
  .info .info-guide {
    padding: 0 30px 0 0; }
    .info .info-guide .info-title {
      font-size: 26px;
      text-align: left; }
    .info .info-guide li {
      padding: 10px 0;
      border-bottom: 1px dotted #aaa;
      font-weight: bold; }
      .info .info-guide li h3 {
        margin: 0; }
      .info .info-guide li i {
        color: orange; }
    .info .info-guide .info-text {
      font-size: 14px;
      font-weight: normal; }
    .info .info-guide a:hover {
      opacity: 0.7; }

.label-new {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  background-color: orange; }

.label-soldout, .label-info {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  background-color: #555; }

/* Mypage */
.mypage-text-link {
  font-weight: bold; }
  .mypage-text-link:hover {
    text-decoration: underline; }

.mypage-header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 3px solid orange;
  z-index: 1; }
  .mypage-header .mypage-header-inner {
    width: 1000px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .mypage-header .mypage-header-inner .logo {
      justify-content: flex-end;
      align-items: flex-start; }
      .mypage-header .mypage-header-inner .logo a:hover {
        opacity: 0.7; }
    .mypage-header .mypage-header-inner .nav {
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }
      .mypage-header .mypage-header-inner .nav .login-area {
        background-color: #efefef;
        border: 1px solid #ccc;
        margin: 4px 0;
        text-align: center;
        padding: 4px 0; }
      .mypage-header .mypage-header-inner .nav .button-area {
        height: 34px;
        display: flex; }
        .mypage-header .mypage-header-inner .nav .button-area .mypage-button {
          height: 28px;
          font-weight: bold;
          border: 1px solid #aaa;
          border-radius: 7px;
          background-color: #efefef;
          border-color: #efefef;
          color: orange; }
          .mypage-header .mypage-header-inner .nav .button-area .mypage-button:hover {
            opacity: 0.8; }
        .mypage-header .mypage-header-inner .nav .button-area .orange-button {
          height: 28px;
          font-weight: bold;
          border: 1px solid #aaa;
          border-radius: 7px;
          background-color: orange;
          border-color: orange;
          color: #fff;
          margin: 0 0 0 10px; }
          .mypage-header .mypage-header-inner .nav .button-area .orange-button:hover {
            opacity: 0.8; }

.mypage-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 1000px;
  margin: 0 auto;
  font-size: 0.75rem;
  border-color: #ccc; }
  .mypage-table th {
    background-color: #efefef; }
  .mypage-table td:first-child {
    width: 180px;
    background-color: #efefef; }

.normal-button {
  height: 28px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 7px;
  background-color: #efefef;
  border-color: #aaa;
  color: #333; }
  .normal-button:hover {
    opacity: 0.8; }
  .normal-button:hover {
    opacity: 0.8;
    border-color: #aaa;
    color: #333; }

.negative-button {
  height: 28px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 7px;
  background-color: #555;
  border-color: #555;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 30px; }
  .negative-button:hover {
    opacity: 0.8; }
  .negative-button:hover {
    opacity: 0.8;
    border-color: #555;
    color: #fff; }

.submit-button {
  height: 28px;
  font-weight: bold;
  border: 1px solid #aaa;
  border-radius: 7px;
  background-color: orange;
  border-color: orange;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 30px; }
  .submit-button:hover {
    opacity: 0.8; }
  .submit-button:hover {
    opacity: 0.8;
    border-color: orange;
    color: #fff; }

.mini-button {
  border: 1px solid #aaa;
  border-radius: 5px;
  display: block;
  margin: 0 auto; }
  .mini-button:hover {
    opacity: 0.8;
    border-color: #aaa;
    color: #333; }

.mypage-h2 {
  padding: 5px 10px;
  border-left: 5px solid orange;
  border-bottom: 1px solid #efefef;
  text-align: left;
  font-size: 1.25rem; }

.mypage-h3 {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 10px 0 0 0;
  color: orange; }

.mypage-text, .cart-table-bottom-text, .cart-button-area .cart-text {
  font-size: 0.75rem; }

.mypage-list {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px; }

.mypage-list-item h2 {
  margin: 10px 0 20px 0; }

.mypage-pagetop {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  height: 60px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .mypage-pagetop .icon-orange {
    color: orange; }

.mypage-footer {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  height: 100px;
  grid-column: 1 / 2;
  border-top: 1px solid #ccc; }
  .mypage-footer .footer-nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    .mypage-footer .footer-nav .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0; }
    .mypage-footer .footer-nav li + li {
      border-left: 1px dotted #aaa; }
  .mypage-footer .copyright {
    text-align: center;
    font-size: 0.75rem;
    margin: 0 0 20px 0; }

/* Mypage table共通 */
.required {
  color: red;
  font-size: 12px; }

.input-short {
  padding: 5px 0;
  width: 60px; }

.input-middle {
  padding: 5px 0;
  width: 120px; }

.input-long {
  padding: 5px 0;
  width: 350px; }

.select {
  padding: 5px 0;
  width: 200px; }

.select-number {
  width: 70px; }

.attention, .cart-attention {
  color: red;
  font-size: 0.7rem;
  margin: 0; }

/* Faq */
.faq-item h3 {
  background-image: url("https://placehold.jp/40x40.png?text=Q");
  background-repeat: no-repeat;
  height: 40px;
  padding: 10px 0 0 50px;
  color: #aaa; }

.faq-item p {
  background-image: url("https://placehold.jp/40x40.png?text=A");
  background-repeat: no-repeat;
  height: 40px;
  padding: 10px 0 0 50px;
  font-size: 0.8rem; }

/* Login */
.login-form {
  background-color: #efefef;
  padding: 10px 20px; }
  .login-form .mypage-text, .login-form .cart-table-bottom-text, .login-form .cart-button-area .cart-text, .cart-button-area .login-form .cart-text {
    width: 200px; }
  .login-form .login-button {
    height: 28px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 7px;
    background-color: orange;
    border-color: orange;
    color: #fff;
    padding: 0 30px; }
    .login-form .login-button:hover {
      opacity: 0.8; }

.guidance-wrapper .button-area {
  background-color: #efefef;
  padding: 10px; }
  .guidance-wrapper .button-area .entry-button {
    height: 28px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 7px;
    background-color: orange;
    border-color: orange;
    color: #fff; }
    .guidance-wrapper .button-area .entry-button:hover {
      opacity: 0.8; }

/* Cart */
.cart-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 1000px;
  margin: 0 auto;
  font-size: 0.75rem;
  border-color: #ccc; }
  .cart-table th {
    background-color: #efefef; }
  .cart-table th {
    text-align: center; }
  .cart-table .cart-product-total {
    text-align: right; }
    .cart-table .cart-product-total td:first-child {
      background-color: #efefef; }
  .cart-table .cart-product-manipulation {
    text-align: center; }
    .cart-table .cart-product-manipulation .delete-button {
      height: 28px;
      font-weight: bold;
      border: 1px solid #aaa;
      border-radius: 7px;
      background-color: #555;
      border-color: #555;
      color: #fff; }
      .cart-table .cart-product-manipulation .delete-button:hover {
        opacity: 0.8; }
    .cart-table .cart-product-manipulation .later-button {
      height: 28px;
      font-weight: bold;
      border: 1px solid #aaa;
      border-radius: 7px;
      background-color: #efefef;
      border-color: #aaa;
      color: #333;
      margin: 10px 0 0 0; }
      .cart-table .cart-product-manipulation .later-button:hover {
        opacity: 0.8; }
  .cart-table .cart-product-img {
    text-align: center; }
    .cart-table .cart-product-img img {
      width: 60px;
      height: 60px; }
  .cart-table .cart-product-name {
    font-weight: bold; }
  .cart-table .cart-product-price, .cart-table .cart-product-subtotal {
    text-align: right; }

.cart-table-bottom-text {
  text-align: right;
  margin: 0; }

.cart-button-area {
  margin: 0 0 30px 0; }
  .cart-button-area .cart-text {
    text-align: center; }
  .cart-button-area .button-wrapper {
    width: 365px;
    display: block;
    margin: 0 auto; }
    .cart-button-area .button-wrapper .back-button {
      height: 28px;
      font-weight: bold;
      border: 1px solid #aaa;
      border-radius: 7px;
      background-color: #555;
      border-color: #555;
      color: #fff;
      padding: 0 30px; }
      .cart-button-area .button-wrapper .back-button:hover {
        opacity: 0.8; }
    .cart-button-area .button-wrapper .orange-button {
      height: 28px;
      font-weight: bold;
      border: 1px solid #aaa;
      border-radius: 7px;
      background-color: orange;
      border-color: orange;
      color: #fff;
      margin: 0 0 0 10px; }
      .cart-button-area .button-wrapper .orange-button:hover {
        opacity: 0.8; }

/* Carousel(あとで個別ファイルにする) */
.el-carousel {
  margin: -20px; }

/* Mypage Content(あとで移動) */
/*タブ切り替え全体のスタイル*/
.tabs {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #fff; }

/*タブのスタイル*/
.tab-item {
  width: calc(100%/5);
  height: 40px;
  border-bottom: 1px solid #aaa;
  line-height: 50px;
  font-size: 1rem;
  text-align: center;
  color: #333;
  display: block;
  float: left;
  transition: all 0.2s ease; }

.tab-item:hover {
  opacity: 0.7; }

/*ラジオボタンを全て消す*/
input[name="tab-item"] {
  display: none; }

/*タブ切り替えの中身のスタイル*/
.tab-content {
  display: none;
  clear: both;
  overflow: hidden; }

/*選択されているタブのコンテンツのみを表示*/
#history:checked ~ .history-content,
#change:checked ~ .change-content,
#delivery:checked ~ .delivery-content,
#refusal:checked ~ .refusal-content,
#change-card:checked ~ .change-card-content {
  display: block; }

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab-item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 3px solid orange;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa; }

.delivery-table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 1000px;
  margin: 0 auto;
  font-size: 0.75rem;
  border-color: #ccc; }
  .delivery-table th {
    background-color: #efefef; }
  .delivery-table th {
    text-align: left;
    font-weight: normal; }
  .delivery-table td .mypage-text-link {
    text-align: center; }

.refusal-card {
  border: 1px solid #aaa;
  padding: 30px;
  text-align: center; }
