body {
  color: #333; }

button {
  width: 1000px;
  height: 50px;
  font-size: 14px;
  border: 1px solid #888;
  background-color: #eee; }
  button:hover {
    background-color: #87ebb4;
    border: 1px solid #87ebb4;
    color: #fff; }

h1 {
  padding: 0;
  margin: 0; }

h2 {
  text-align: center;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

figure {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

.stripe {
  position: relative;
  padding: 0.3em; }

.stripe:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, skyblue, skyblue 2px, white 2px, white 4px); }

.header {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
  display: grid;
  grid-template-columns: 130px 1fr 90px; }
  .header .logo {
    grid-column: 1 / 2; }
    .header .logo a:hover {
      opacity: 0.7; }
  .header .nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end; }
    .header .nav .icon {
      width: 45px;
      margin: -10px 0 0 0;
      align-self: center; }
      .header .nav .icon a {
        color: #aaa; }
        .header .nav .icon a:hover {
          opacity: 0.7; }

.container {
  display: grid; }

.top {
  width: 1000px;
  margin: 0 auto;
  height: 600px; }
  .top figure {
    width: 750px;
    margin: 0 auto; }
  .top .slide-pager {
    margin: 0 auto;
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .top .slide-pager a {
      align-self: center;
      color: #888; }

.list {
  width: 1000px;
  margin: 0 auto;
  height: 900px; }

.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .list-items li {
    max-width: 300px;
    height: 380px; }
    .list-items li .item-card {
      margin: -3px 0 0 0;
      height: 120px;
      box-shadow: 0 2px 2px 2px #eee;
      padding: 10px; }
      .list-items li .item-card .label {
        margin: 0 0 10px 0; }
      .list-items li .item-card h4 {
        margin: 0; }
      .list-items li .item-card .expired {
        background-color: #eee;
        width: 280px;
        height: 20px;
        text-align: center;
        font-size: 14px;
        padding: 2px 0;
        margin-top: 40px; }
  .list-items::after {
    content: "";
    display: block;
    width: 30%; }

.news {
  background-color: #eee;
  height: 500px; }
  .news .news-title {
    padding: 30px 0; }

.news-item {
  width: 1000px;
  display: grid;
  grid-template-columns: 105px 110px 1fr;
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 1px solid #aaa; }
  .news-item p {
    font-size: 14px; }
    .news-item p a:hover {
      opacity: 0.7; }
  .news-item .news-date {
    padding: 3px 0 0 10px; }
  .news-item .news-text {
    font-size: 15px; }

.news-date {
  font-weight: bold; }

.info {
  width: 1000px;
  margin: 0 auto;
  height: 500px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column: 1 / 2; }
  .info .info-guide {
    padding: 0 30px 0 0; }
    .info .info-guide .info-title {
      font-size: 26px;
      text-align: left; }
    .info .info-guide li {
      padding: 10px 0;
      border-bottom: 1px dotted #888;
      font-weight: bold; }
    .info .info-guide .info-text {
      font-size: 14px;
      font-weight: normal; }
    .info .info-guide a:hover {
      opacity: 0.7; }

.common-footer {
  height: 100px;
  grid-column: 1 / 2;
  background-color: lightgray; }
  .common-footer .footer-nav {
    width: 400px;
    display: flex;
    flex-direction: row;
    margin: 0 auto; }
    .common-footer .footer-nav .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0; }
    .common-footer .footer-nav li + li {
      border-left: 1px solid #aaa; }
  .common-footer .copyright {
    text-align: center;
    font-size: 12px;
    margin: 0 0 20px 0; }

.label-new {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: orange; }

.label-soldout {
  width: 90px;
  height: 18px;
  padding: 3px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: #555; }

.common-list {
  width: 1000px;
  margin: 0 auto; }
  .common-list::after {
    content: "";
    display: block;
    max-width: 1000px;
    height: 150px; }

.common-title {
  padding: 50px 0;
  background-color: #eee; }
  .common-title .common-h1 {
    text-align: center;
    font-size: 24px; }

.common-list-item {
  max-width: 1000px;
  margin: 50px auto 0 auto; }
  .common-list-item .common-h2 {
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    text-align: left; }
  .common-list-item .text {
    font-size: 14px; }

.mypage-header {
  width: 1000px;
  margin: 0 auto;
  height: 50px;
  display: grid;
  grid-template-columns: 130px 1fr 90px; }
  .mypage-header .logo {
    grid-column: 1 / 2; }
    .mypage-header .logo a:hover {
      opacity: 0.7; }
  .mypage-header .nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end; }
    .mypage-header .nav .icon {
      width: 45px;
      margin: -10px 0 0 0;
      align-self: center; }
      .mypage-header .nav .icon a {
        color: #aaa; }
        .mypage-header .nav .icon a:hover {
          opacity: 0.7; }

.mypage-table {
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 1000px;
  margin: 0 auto; }
  .mypage-table td {
    padding: 5px 10px;
    font-size: 0.75rem; }
    .mypage-table td:first-child {
      width: 180px;
      background-color: #ddd; }

.mypage-h2 {
  padding: 5px 10px;
  border-left: 5px solid orange;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 1.25rem; }

.mypage-list {
  width: 1000px;
  margin: 0 auto; }
  .mypage-list::after {
    content: "";
    display: block;
    max-width: 1000px;
    height: 150px; }

.mypage-list-item {
  max-width: 1000px;
  margin: 50px auto 0 auto; }

.mypage-footer {
  height: 100px;
  grid-column: 1 / 2;
  border-top: 1px solid #ddd; }
  .mypage-footer .footer-nav {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    .mypage-footer .footer-nav .nav-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 20px 0; }
      .mypage-footer .footer-nav .nav-item a {
        color: orangered; }
    .mypage-footer .footer-nav li + li {
      border-left: 1px dotted #aaa; }
  .mypage-footer .copyright {
    text-align: center;
    font-size: 0.75rem;
    margin: 0 0 20px 0; }

.required {
  color: red;
  font-size: 12px; }

.input-short {
  width: 80px; }

.input-middle {
  width: 160px; }

.input-long {
  width: 400px; }

.select {
  width: 200px; }

.attention {
  color: red;
  font-size: 0.7rem; }

.button-middle {
  width: 120px;
  padding: 0; }

.faq-item h3 img {
  margin: 0 10px;
  padding: 20px 0; }
